.DS_Store
.idea/
*.map
bootstrap/assets/stylesheets/css/styles.css.map

bootstrap/assets/stylesheets/css/styles.css.map

nbproject/project.xml

nbproject/project.properties

nbproject/private/private.properties

bootstrap/assets/stylesheets/css/styles.css.map

nbproject/project.xml

nbproject/project.properties

nbproject/private/private.properties

*.map

*.map

bootstrap/assets/stylesheets/css/styles.css.map
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/credito.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/dashboard.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/DetalledeCarrito.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/DetalledeProducto.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/footer.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/general.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/header.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/home.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/solucion.scssc
bootstrap/assets/stylesheets/.sass-cache/c5358fb74c66e6082aed6460a0d40205397e4be3/styles.scssc

*.scssc
